
body {background-color: rgb(255,192,203);}
h1{font-style: cursive;}

/* Design af topbar/header */
.header {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}


/* Design af navigationsbar */
.topnav {
  overflow: hidden;
  background-color: rgb(275,150,175);
}

/* Design af navigationsbars links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

/* Design af links trykfunktion/hover */
.topnav a:hover {
  background-color: white;
  color: black;
}
div.kasse {
border: 15px solid black;
width: 500px;
padding: 20px;
background-color: lavenderblush;
margin: 20px;
}

div.kasse2 {
border: 15px solid black;
width: 500px;
padding: 20px;
background-color: lavenderblush;
margin: 20px;    
position: relative;
top: -2230px;
left: 600px;
}

div.kasse3 {
border: 15px solid black;
width: 500px;
padding: 20px;
background-color: lavenderblush;
margin: 20px;
position: relative;
right: -600px;
top: -222px;
}

div.kasse4 {
border: 15px solid black;
width: 500px;
padding: 20px;
background-color: lavenderblush;
margin: 20px;
position: relative;
right: -600px;
top: -742px;
}
